/* Generic */

:root {
    --main-color: #0a192f;
    --popup-color: #1b1a2b;
    --clickable-color: #64ffda;
    --accent-color: #ccd6f6;
    --text-color: #9094ac;
    --line-color: #a8b2d1;
    --low-color: #8892b0;
    --light-backgtound: #112240;
    --calibre: "Calibre";
    --sf-mono: "SF Mono Regular";
    --pop-animation: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

* {
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: var(--calibre);
    margin: 0;
}

.main-view {
    margin: 30vh 18vw;
}

.main-view .presentation {
    font-size: 20px;
    color: var(--clickable-color);
    font-family: var(--sf-mono);
}

.main-view .name {
    font-size: 80px;
    color: var(--accent-color);
    font-weight: bold;
}

.main-view .sub-name {
    font-size: 60px;
    color: var(--text-color);
    font-weight: bold;
}

.description {
    font-size: 20px;
    color: var(--text-color);
    width: 50vw;
}

.continue span {
    top: 2px;
}

.continue {
    font-size: 18px;
    margin-top: 100px !important;
    padding: 17px 0px;
    border-radius: 100px;
    border: 2px solid var(--line-color);
    margin: auto;
    max-width: 250px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #495670;
    border: 3px solid #0a192f;
    border-radius: 10px;
}

.logo {
    position: absolute;
    top: 0;
    padding: 40px;
    width: 70px;
    border-radius: 50%;
}

.social:hover span {
    color: var(--clickable-color) !important;
}

.social:hover {
    padding-bottom: 12px !important;
    padding-top: 0px !important;
    transition: var(--pop-animation);
}

.email:hover {
    color: var(--clickable-color) !important;
    margin-bottom: 6px !important;
    transition: var(--pop-animation);
}

.link {
    text-decoration: none;
    padding: 15px 20px;
    position: relative;
    color: var(--clickable-color)
}

.link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--clickable-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.link:hover:after {
    width: 100%;
    left: 0;
}

.hline {
    width: 250px;
    height: 1px;
    background-color: var(--text-color);
    display: block;
    content: "";
    position: relative;
    top: 20px;
    left: 20px;
}